@font-face {
    font-family: "Porter Sans";
    src: url("../../public/font/porter-sans-block.block.ttf") format('tff'),
        url("../../public/font/porter-sans-inline-block-webfont.woff") format('woff');

}

.porter {
    font-family: "Porter Sans", sans-serif;
}